@model GoodReadWebApp.Models.Book

@{
    ViewData["Title"] = "Delete";
}

<h1>Delete Book Details</h1>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>Book</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.BookTitle)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.BookTitle)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Description)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Description)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Pages)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Pages)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Authors)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Authors)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Extension)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Extension)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Publication)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Publication.PublicationName)
        </dd class>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.BookType)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.BookType.TypeName)
        </dd class>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="BookID" />
        <input type="submit" value="Delete This Book" class="btn btn-danger" /> |
        <a asp-action="Index">View All Books</a>
    </form>
</div>
